.file-item {
  display: grid;
  padding: 0 10px;
  align-items: center;
  border-bottom: solid 1px #dadce0;
  grid-template-columns: 7fr 2fr 3fr 1fr;
  padding: 0.5rem 0;
  color: #3c4043;
  font-size: 13px;
}

.file-item:hover {
  background-color: rgba(60 60 60 / 10%);
}

.file-item-active {
  background-color: rgb(232 240 254);
  color: rgb(25 103 210);
  fill: rgb(25 103 210);
  cursor: auto;
}

.file-item-active:hover {
  background-color: rgb(232 240 254);
}

.file-item-img {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 1rem;
}
