:root {
  --white: #fffffe;
  --medium-white: #f9f4ef;
  --light-brown: #eaddcf;
  --medium-brown: #8c7851;
  --dark-brown: #716040;
  --pink: #f25042;
  --black: #020826;
  --gray: #5f6368;
  --gray-medium: #3c4043;
  --sky: #1a73e8;
  --light-gray: #dadce0;
}

body {
  color: var(--dark-brown);
}

.container {
  max-width: 95vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
