.aside {
  height: 100%;
  width: 20%;
  min-width: 238px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aside-button {
  margin: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: none;
  gap: 0.8rem;
  padding: 0.45rem 1.2rem;
  border-radius: 6.25rem;
  box-shadow: var(
    --dt-surface1-shadow,
    0 1px 2px 0 rgba(60 64 67 / 30%),
    0 1px 3px 1px rgba(60 64 67 / 15%)
  );
  transition: 0.35s linear;
  cursor: pointer;
  font-size: 14px;
  color: rgb(60 64 67);
}

.aside-button:hover {
  box-shadow: var(
    --dt-surface1-shadow,
    0 1px 2px 0 rgba(60 64 67 / 30%),
    0 1px 3px 1px rgba(60 64 67 / 15%)
  );
  background-color: rgba(60 60 60 / 10%);
}

.aside-list {
  width: 100%;
  padding-right: 1rem;
}

.aside-list-item {
  font-size: 13px;
  padding-left: 2rem;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 0 66px 66px 0;
  color: #5f6368;
  cursor: pointer;
}

.aside-list-item svg {
  fill: #5f6368;
}

.aside-list-item:hover {
  background-color: rgba(60 60 60 / 10%);
}

.aside-list-item-active {
  background-color: rgb(232 240 254);
  color: rgb(25 103 210);
  fill: rgb(25 103 210);
}

.aside-list-item .icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sky-item {
  position: relative;
  margin-top: 16px;
}

.sky-item::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dadce0;
}

.storage-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 1rem;
  gap: 0.7rem;
  margin-top: 8px;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: rgba(0 0 0 / 12%);
  border-radius: 20px;
}

.progress-value {
  position: relative;
  height: 100%;
  background-color: rgb(26 115 232);
  border-radius: 20px;
  box-shadow: 2px 0 0 #fff;
}

.storage-text {
  color: #5f6368;
  font-size: 13px;
}

.byu-memory {
  font-weight: bold;
  width: 200px;
  padding: 0.5rem 0;
  font-size: 14px;
  background: none;
  color: #15c;
  border-radius: 4px;
  border: 1px solid rgba(0 0 0 / 50%);
  cursor: pointer;
  transition: 0.2s linear;
}

.byu-memory:hover {
  background-color: rgba(26 115 232 / 30%);
}
